* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12pt;
    font-weight: bold;
    border-radius: 0px;
    padding: 0px;
  }
  window#waybar {
    background-color: rgb(30, 30, 46);
  }
  .modules-left {
    padding-left: 5px;
  }
  .modules-right {
    padding-right: 5px;
  }
  .modules-center {
    font-weight: bold;
    background-color: alpha(rgb(73, 77, 100), 0.7);
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #workspaces button, .modules-right * {
    padding-left: 5px;
    padding-right: 5px;
  }
  #workspaces button {
    font-size: 1.25rem;
  }
  #workspaces button.empty {
    color: rgb(110, 115, 141);
  }
  #workspaces button.active {
    color: rgb(245, 169, 127);
  }
  tooltip {
    background: rgb(48, 45, 65);
  }
  tooltip label {
    color: rgb(177, 183, 197);
  }
  #custom-separator {
    color: rgb(166, 218, 149);
  }
  #custom-separator_dot {
    color: rgb(166, 218, 149);
  }
  #clock.time {
    color: rgb(240, 198, 198);
  }
  #clock.week {
    color: rgb(125, 196, 228);
  }
  #clock.month {
    color: rgb(125, 196, 228);
  }
  #clock.calendar {
    color: rgb(198, 160, 246);
  }  
  #custom-launcher {
    color: rgb(201, 203, 255);
  }
  #idle_inhibitor {
    color: rgb(221, 182, 242);
  }
  #backlight {
    color: rgb(248, 189, 150);
  }
  #wireplumber {
    color: rgb(245, 224, 220);
  }
  #network {
    color: rgb(171, 233, 179);
  }
  #bluetooth {
    color: rgb(0, 130, 252);
  }
  #wireplumber {
    color: rgb(245, 224, 220);
  }
  #network.disconnected {
    color: rgb(255, 255, 255);
  }
  #battery {
    color: rgb(238, 212, 159);
  }
  #battery.charging, #battery.plugged {
    color: rgb(166, 218, 149);
  }
  #battery.warning:not(.charging) {
    color: rgb(242, 143, 173);
  }
  #custom-swaync.notification, #custom-swaync.none {
    color: rgb(80, 182, 212);
  }
  #custom-swaync:not(.notification):not(.none) {
    color: rgb(242, 143, 173);
  }
  #custom-powermenu {
    color: rgb(242, 143, 173);
  }